{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid">


  <div class="row" id="services" style="margin-top: 3%;font-family: Verdana; background: linear-gradient(180deg, rgb(255, 255, 255), rgb(247, 195, 155),rgb(239, 247, 250));">
    <h1 style="text-align: center;color: rgb(197, 122, 16);padding-top: 2%; margin-bottom: 2%;">Programs and Activities</h1>
    
    <!-- <div class="col-md-3">
      <img src="/static/images/176_Kenia_Damka_2022_OB.jpg" alt="" style="height: 250px;width: 95%;">
    </div> -->

  <div class="col-md-3" >
    <!-- <img src="/static/images/bottom1-img3.jpg" alt=""> -->
    <h3>Club Meetings</h3>
   <p>We hold monthly meetings with kids and caregivers with the aim to: -
    <br>
    Facilitate communication between and within families living with HIV and Sickle Cell Disease.
    <br>
    Reduce the isolation experienced by families.
    <br>
    Provide a recreational and therapeutic environment where children and parents can share their experiences with others in similar circumstances.
    <span id="dots">...</span><span id="more">
    <br>
    Provide a venue where information about medical, social and aspects of HIV and Sickle Cell disease can be shared and where new ways of coping can be learned.
    <br>
    Children are supervised by workers and spend their time participating in a range of fun activities whilst parents participate in a workshop program.
   </span>

    
  </p>
  <button onclick="myFunction()" id="myBtn">Read more</button>
    
   
    
  </div>
  <div class="col-md-3">
    <img src="/static/images/176_Kenia_Damka_2022_OB.jpg" alt="" style="height: 250px;width: 95%;">
  </div>
    <!-- <div class="col-md-3">
        <img src="/static/images/exchangeprogdamka.jpg" alt=""style="height: 250px;width: 95%;">
       
    </div> -->
    <div class="col-md-3">
      <!-- <img src="/static/images/bottom1-img2.jpg" alt=""> -->
      <h3> Exchange Programs</h3>
      <p>We facilitate exchange program with other children’s clubs and whenever possible we also host other children from outside our region. In 2017 we started our OTZ club which helps the children be responsible. Everything they do as long as they are members of the OTZ club entirely depends on them. OTZ means Operation Triple Zero which encourages them to have the three ZEROS which are zero missed drugs, zero missed appointments and zero viral loads these programs help build the kids’ self-confidence and helps in stigma reduction</p>
        
  </div>
  <div class="col-md-3">
    <img src="/static/images/exchangeprogdamka.jpg" alt=""style="height: 250px;width: 95%;">
   
</div>
    <!-- <div class="col-md-3">
        <img src="/static/images/dignity packs.jpg" alt="" style="height: 250px;width: 95%;">
         </div> -->
    <div class="col-md-3">
      <!-- <img src="/static/images/bottom1-img1.jpg" alt=""> -->
      <h3>Dignity Packs</h3>
      <p>We provide free sanitary pads for our young girls to ensure they remain in school throughout the school term. We usually provide them with both reusable and disposable sanitary towels. In August 2017, were issued the reusable sanitary towels and they were so happy. These are replaced yearly as funds become available.</p>
      

    </div>
    <div class="col-md-3">
      <img src="/static/images/dignity packs.jpg" alt="" style="height: 250px;width: 95%;">
       </div>
    <!-- <div class="col-md-3">
        <img src="/static/images/lunch program.jpg" alt="" style="height: 250px;width: 95%;">
        </div> -->
    <div class="col-md-3">
      <!-- <img src="/static/images/elderly people playing some games.jpg" alt=""> -->
      <h3 >School Feeding Program</h3>
      <p>In 2017, we noticed that most children wasted time going home and getting back to school during lunch hour. Sometimes these children would fail to come to school because they did not have any meal at home and therefore had to work to afford at least a meal a day. We started supporting lunch program for children in primary school to encourage and improve the school performance and reduce absenteeism. </p>

      
    </div>
    <div class="col-md-3">
      <img src="/static/images/lunch program.jpg" alt="" style="height: 250px;width: 95%;">
      </div>
    <!-- <div class="col-md-3">
        <img src="/static/images/nutritional support.jpg" alt="" style="height: 250px;width: 95%;">
       </div> -->
    <div class="col-md-3">
      <!-- <img src="/static/images/bottom1-img1.jpg" alt=""> -->
      <h3>Emergency Food for Nutritional Support</h3>
      <p>Most of the families in the region we support are low-income households. Some of the caregivers are either too old or just plain incapacitated to provide for these children. In 2017 we introduced the Emergency nutritional support to some of the most vulnerable kids whose household had poor yields. Here are photos of some of the days that distribution are done.</p>

    </div>
    <div class="col-md-3">
      <img src="/static/images/nutritional support.jpg" alt="" style="height: 250px;width: 95%;">
     </div>
    <!-- <div class="col-md-3">
        <img src="/static/images/one acre fund3.jpg" alt="" style="height: 250px;width: 95%;">
        
        </div> -->
    <div class="col-md-3">
      <!-- <img src="/static/images/elderly people playing some games.jpg" alt=""> -->
      <h3 >One Acre Fund</h3>
      <p style="font-weight: bolder;font-style: italic;">For the school children;</p>

      <p>
        Because of HIV and poverty, education which is a fundamental right, remains a distant dream for most of these kids. Education is in itself a fundamental human right that can have a dramatic impact on their future. Education is also key to long lasting and sustainable development. At DAMKA we aim to make education a top priority. One Acre Fund
                <span id="dotss">...</span><span id="moree">
                  <br>
                  We provide the children with school bags, books, stationery and hot lunch whenever funds are available at no cost to the parents/guardians, however for their participation and cost sharing initiative caregivers provide a tin of beans and another of maize to give them a sense of ownership. 
            <br>
            For the all the children in the Club;
            <br>
            The kids who perform well in school are rewarded as a form of motivation, with a trip to Museum, or something exciting. 
           <br>
          </span>
      </p>
        
        <button onclick="myFunctionn()" id="myBtnn">Read more</button>
          
      
    </div>
    <div class="col-md-3">
        <img src="/static/images/one acre fund3.jpg" alt="" style="height: 250px;width: 95%;">
        
        </div>
</div>

</div>

{% endblock %}