{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid" style="margin-top: 1%;padding-top: 1%;padding-bottom: 2%;margin-bottom: 3%;">
    <div class="row" style="height: 200px;">
       

            <div class="bg-image"></div>

<div class="bg-text" style="margin-bottom: 10%;">
  <h1 style="color: white;font-weight: bolder;"> Work with Don Amolo Memorial Kids Ark </h1>
 
</div>

    </div>
    
  <div class="container" style="box-shadow: 2px 2px 2px 2px grey; margin-top: 3%;padding-bottom: 5%;">
    <div class="row">
        <h2>Check out active Jobs here:
        </h2>
        <div class="col-md-5">
            

            <h5>Vacancy 1</h5>
            <button type="button" class="btn btn-info">APPLY</button>

        </div>
        
        
    </div>
    <div class="row">
        <div class="col-md-5">
            

            <h5>Vacancy 2</h5>
            <button type="button" class="btn btn-info">APPLY</button>

        </div>

    </div>

  </div>
        
      
        
    
</div>



{% endblock %}