{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container" style="margin-top: 2%;padding-top: 3%;padding-bottom: 2%;">
    <div class="row" style="box-shadow: 2px 2px 2px 2px orange ;padding-bottom: 3%;">
        <div class="col-md-2" style="margin-top: 3%;margin-left: 2%;">
            <img src="/static/images/Damka logo.png" alt="" style="height: 100px;width: 100px;text-align: center;">
        </div>
        <div class="col-md-8" style="padding-top: 4%;">
            <!-- <img src="/static/images/Damka logo.png" alt="" style="height: 100px;width: 100px;text-align: center;"> -->
            <!-- <h5>Support vulnerable children at Don Amolo Memorial Kids Ark</h5> -->
            <p>Welcome to the Don Amolo Memorial Kids Ark (DAMKA) , where we strive to make a difference in the lives of orphaned and vulnerable children in Butere Sub County and beyond. Since our inception in 2012, DAMKA has been a beacon of hope for orphaned and vulnerable children, particularly those living with HIV/AIDS and sickle cell disease in Butere Sub County, a rural community in Kenya. Our community-based organization, supported by generous sponsors like AIDS & KIND and SolidarMed, is dedicated to providing holistic care and support to children and families in need. From our children's clubs and mentorship programs to our sickle cell registry and clinic, every initiative is crafted with love and purpose to ensure these children live fulfilling lives. With your help, we can continue to expand our reach, offer education, advocacy, and healthcare services to those who need it most. Donate today and be a part of their journey towards a brighter tomorrow.</p>

            <p style="font-weight: bolder;">Give by: </p>

            <img src="/static/images/mpesa logo.png" alt="" style="height: 70px;width: 100px;">
            <ul>
                <li>Business number: 247247</li>
                <li>Account number: 197056 </li>
               
            </ul>
<h6 style="font-style: italic;">Thank you for supporting Don Amolo Memorial Kids Ark</h6>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% endblock %}