{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container" style="margin-top: 3%;padding-top: 3%;padding-bottom: 2%;">
    <div class="row" style="box-shadow: 2px 2px 2px 2px orange ;">
        <div class="col-md-2"></div>
        <div class="col-md-6" style="padding-top: 4%;">
            <p>Support vulnerable children at Don Amolo Memorial Kids Ark</p>

            <img src="/static/images/mpesa logo.png" alt="" style="height: 100px;width: 150px;">
            <ul>
                <li>Business number: 247247</li>
                <li>Account number: 197056 </li>
               
            </ul>
<p style="font-style: italic;">Thank you for supporting Don Amolo Memorial Kids Ark</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% endblock %}