{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid" style=" background: linear-gradient(180deg, rgb(255, 255, 255), rgb(247, 195, 155),rgb(239, 247, 250));">
    <div class="container">
    <h1 style="text-align: center;color: rgb(197, 122, 16);padding-top: 2%; margin-bottom: 2%;font-family: cambria;">DAMKA Events</h1>
    <div class="row" style="margin-top: 2%;">
        <!-- <h1 style="text-align: center;color: rgb(197, 122, 16);padding-top: 2%; margin-bottom: 2%;font-family: cambria;">DAMKA Events</h1> -->
        <p>DAMKA sponsors MOH staff for SCD training facilitated by Prof Tenge from MTRH and Dr Roselyne Malangachi,Chief Pediatrician Kakamega County</p>
        
        <div class="col-md-4">
            <img src="/static/images/WhatsApp Image 2023-10-05 at 20.34.18 (2).jpeg" alt="" style="height: 200px;width: 95%;">
        </div>
            <div class="col-md-4">
                <img src="/static/images/WhatsApp Image 2023-10-05 at 20.34.19.jpeg" alt="" style="height: 200px;width: 95%;">
            </div>
        
        
            <div class="col-md-4">
                <img src="/static/images/WhatsApp Image 2023-10-05 at 20.34.18.jpeg" alt=""style="height: 200px;width: 95%;">
            </div>


    </div>
    <div class="row" style="margin-top: 2%;">
        <h4>Sickle <span style="color: red">C</span>ell <span style="color: red">D</span>isease (SCD) Campaign</h4>
        <!-- <h1 style="text-align: center;color: rgb(197, 122, 16);padding-top: 2%; margin-bottom: 2%;font-family: cambria;">DAMKA Events</h1> -->
        <p>The event was organized to advocate for sickle cell awareness and mitigate myths and misconceptions about the disease within the community and local schools. The campaign aimed to reach a wider audience and positively impact sickle cell warriors' lives.</p>
        
        <h5>Campaign Objectives</h5>
        <p>The primary goals of the Sickle Cell Campaign event were to raise awareness, educate the public, and provide support to individuals and families affected by sickle cell disease. The event aimed to reduce stigma and misinformation surrounding the condition while fostering a sense of community and support.</p>
        <div class="col-md-4">
            <img src="/static/images/SCD 1.jpg" alt="" style="height: 200px;width: 95%;">
        </div>
            <div class="col-md-4">
                <img src="/static/images/SCD 2.jpg" alt="" style="height: 200px;width: 95%;">
            </div>
        
        
            <div class="col-md-4">
                <img src="/static/images/SCD 3.jpg" alt=""style="height: 200px;width: 95%;">
            </div>

    </div>
    </div>
    
    {% if events %}
    <div class="row">
    {% for event in events %}
    <div class="col-md-6" style="margin-top: 3%;font-family: Verdana; background: linear-gradient(180deg, rgb(255, 255, 255), rgb(247, 195, 155),rgb(239, 247, 250));">
<div class="row">
      <h3 style="text-align: center;"> {{event.Name}} </h3>
      <div class="col-md-6">
        
        <img src="{{event.Image.url}}" alt="" style="height: 320px;width: 95%;">
      </div>
      <div class="col-md-5">
        <p>
        {{event.Description}}
          </p>
       </div>
      </div>

    </div>
    {% endfor %}
  </div>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{%url 'new-event'%}" class="login" style="color: rgb(97, 66, 6);height: 40px;width: 25px;">New Event</a>
  {% endif %}
    </div>


    {% endblock %}