{% extends 'base.html' %}{%load bootstrap5%} {% load static %} {% block title %} Login Page {% endblock %} {% block content %}
<div class="container mt-3 mb-3">
    <div class="row shadow">
        <div class="col-md-5">
            <img src="/static/images/Damka logo.png" alt="" style="height: 62%;width:92%; margin-top:15% ;">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 " style="margin-left: 1%; margin-top:6%; margin-bottom: 8%; padding-top:1%;padding-bottom:1%;">
        <h1 style="color: rgb(4, 47, 20); font-family: Verdana, Geneva, Tahoma, sans-serif;">Sign Into Your Account</h1>
        <form action="{%url 'login'%}" method="POST">
            {% csrf_token %}
            <div class="container mt-5">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>
                <button type="submit" style="background-color: rgb(6, 96, 17);color: white;font-weight: bold;" class="btn ">Submit</button>
            </div>
        </form>

        {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
       <!-- <p> Don't have an account? <a class=' font-weight-bold' href="/accounts/register">Register here</a>
       </p> -->
        </div>
       
       
    </div>
</div>
{% endblock %}