{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid">
  <div class="row" style="margin-top: 3%;">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="box-shadow: 2px 2px 2px 2px grey;">
      <h1>HIV and AIDS in Kenya</h1>

      <h3>Statistics and Facts:</h3>
      <ul>
        <li>As of September 2021, Kenya had an estimated 1.5 million people living with HIV, making it one of the countries with a significant HIV burden in East Africa.</li>
        <li>The HIV prevalence rate among adults (15-49 years old) in Kenya was approximately 4.9%</li>
        <li>Women were disproportionately affected, with a higher HIV prevalence of around 6.6% among adult females compared to 3.1% among adult males.</li>
        <li>Key affected populations in Kenya include sex workers, men who have sex with men (MSM), and people who inject drugs (PWID).</li>
      </ul>

      <h3>HIV Transmission Routes:</h3>

      <ul>
        <li>HIV is primarily transmitted through unprotected sexual intercourse with an infected person.</li>
        <li>It can also be transmitted through sharing needles and syringes among people who inject drugs, from mother to child during childbirth or breastfeeding, and through blood transfusions or organ transplants from an infected donor (though this is now rare due to screening).</li>
        
      </ul>

      <h3>HIV Prevention Methods:</h3>

      <ul>
        <li>Mother-to-child transmission can be prevented through antiretroviral therapy (ART) for pregnant and breastfeeding women living with HIV.</li>
        <li>Condom use during sexual intercourse is an effective barrier method to prevent HIV transmission.</li>
        <li>Pre-exposure prophylaxis (PrEP) is available in Kenya for individuals at higher risk of contracting HIV.</li>
        <li>Promoting safe injection practices and access to clean needles and syringes is crucial for preventing HIV among people who inject drugs.</li>
       
      </ul>

      <h3>Early HIV Symptoms:</h3>
      <ul>
        <li>Many people with HIV may not experience any symptoms for years.</li>
        <li>Early symptoms can be flu-like and include fever, fatigue, sore throat, and swollen lymph nodes.</li>
        
      </ul>

      <h3>Advanced HIV/AIDS Symptoms:</h3>
      <ul>
        <li>As the disease progresses to AIDS, symptoms can become more severe, including opportunistic infections and malignancies.</li>
        <li>These symptoms may include severe weight loss, chronic diarrhea, pneumonia, and various skin conditions.</li>
        
      </ul>

      <h3>HIV Testing:</h3>
      <ul>
        <li>HIV testing is widely available in Kenya at healthcare facilities, clinics, and community centers.</li>
        <li>HIV testing is voluntary and confidential. Individuals can choose between traditional blood tests or rapid tests that provide results in minutes.</li>
        <li>It's essential to know your HIV status for early diagnosis and timely access to treatment.</li>
      </ul>

      <h3>Treatment:</h3>
      <ul>
        <li>Antiretroviral Therapy (ART) is the standard treatment for HIV in Kenya.</li>
        <li>It involves taking a combination of antiretroviral drugs daily to suppress the virus, boost the immune system, and improve overall health.</li>
        <li>Access to ART is available at government healthcare facilities and through various support programs.</li>
      </ul>

      <h3>HIV Care and Support:</h3>
      <ul>
        <li>People living with HIV in Kenya receive comprehensive care, including counseling, adherence support, and treatment for opportunistic infections.</li>
        <li>Regular medical check-ups are essential for monitoring viral load and CD4 count.</li>
      
      </ul>

      
    </div>
  </div>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="box-shadow: 2px 2px 2px 2px grey;padding-top: 2%;padding-bottom: 2%;margin-top: 3%;">

        <h1>Sickle Cell Disease</h1>
        <p>Sickle <span style="color: red">C</span>ell <span style="color: red">D</span>isease (SCD) is the most common hemoglobinopathy encountered in Kenya. In the western part of the country, about 4.5% of children are born with SCD, and 18% of children are born with sickle cell trait. SCD contributes significantly to the mortality rate in children under 5 years, primarily because of late diagnosis, educational gaps among service providers, and lack of access to appropriate treatment.</p>



        </div>
        <div class="col-md-2"></div>
    </div>


 </div>
 <div class="container-fluid">
         
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol> -->
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/ENGLISH FLYER 1.jpg"
            alt="First slide" >
          <div class="mask rgba-black-light"></div>
        </div>

      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/ENGLISH FLYER 2.jpg"   alt="Second slide" >
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/SWAHILI FLYER 1.jpg"
            alt="Third slide" >
            
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/SWAHILI FLYER 2.jpg"   alt="fourth slide" >
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> 
  <!--Carousel Wrapper-->
 </div>

    {% endblock %}