{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="box-shadow: 2px 2px 2px 2px grey;padding-top: 2%;padding-bottom: 2%;margin-top: 3%;">

<h1>Useful information</h1>
<p>Sickle cell disease (SCD) is the most common hemoglobinopathy encountered in Kenya. In the western part of the country, about 4.5% of children are born with SCD, and 18% of children are born with sickle cell trait. SCD has contributed significantly to the mortality rate in children younger than age 5 years, primarily because of late diagnosis, educational gaps among service providers, and lack of access to appropriate treatment.</p>



        </div>
        <div class="col-md-2"></div>
    </div>

    </div>

    {% endblock %}