{%extends 'base.html'%}{%load bootstrap5%}{% load static %}
{%block content%}

<div class="container-fluid">
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="box-shadow: 2px 2px 2px 2px grey;padding-top: 2%;padding-bottom: 2%;margin-top: 3%;">

        <h1>Useful information</h1>
        <p>Sickle <span style="color: red">C</span>ell <span style="color: red">D</span>isease (SCD) is the most common hemoglobinopathy encountered in Kenya. In the western part of the country, about 4.5% of children are born with SCD, and 18% of children are born with sickle cell trait. SCD contributes significantly to the mortality rate in children under 5 years, primarily because of late diagnosis, educational gaps among service providers, and lack of access to appropriate treatment.</p>



        </div>
        <div class="col-md-2"></div>
    </div>


 </div>
 <div class="container-fluid">
         
<!-- Carousel Wrapper -->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol> -->
   
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/static/images/ENGLISH FLYER 1.jpg"
            alt="First slide" >
          <div class="mask rgba-black-light"></div>
        </div>

      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/ENGLISH FLYER 2.jpg"   alt="Second slide" >
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/SWAHILI FLYER 1.jpg"
            alt="Third slide" >
            
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        
        <div class="view">
          <img class="d-block w-100" src="/static/images/SWAHILI FLYER 2.jpg"   alt="fourth slide" >
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div> 
  <!--Carousel Wrapper-->
 </div>

    {% endblock %}